.empty-block-search
	h1
		font-family $SemiBold
	b, strong
		font-family $Black

	.empty-block-img
		width 313px
		height 162px
		margin-bottom 24px

.games-catalog-trending
	padding-top 20px

.page-content-search
	padding-bottom 60px