//  Fonts 
$Reg = 'Manrope-Regular', Arial, sans-serif
$Black = 'Manrope-ExtraBold', Arial, sans-serif
$Bold = 'Manrope-Bold', Arial, sans-serif
$Med = 'Manrope-Medium', Arial, sans-serif
$ExBold = $Black
$SemiBold = 'Manrope-SemiBold', Arial, sans-serif
// ========== ========== ========== ========== ==========

//Body customize
$body-font-family = $Reg
$body-font-size = 15px
$body-line-height = 1.5

// Sizes
$container-width = 1200px
$container-gutters = 0 15px

$row-gutter-left = -15px
$row-gutter-right = -15px

$col-gutters = 0 15px

$gutters = 40px 0
$gutter-top = 40px
$gutter-bottom = 40px
// ========== ========== ========== ========== ==========

//  Colors 
$accent-color = #EC1040 
$dark-accent-color = darken($accent-color, 10%)
$secondary-color = #4AB424
$light-secondary-color = rgba($secondary-color, .46)
$light-accent-color = rgba($accent-color, .75)

$text-color = #1F222C
$dark-text-color = #323637

$border-color = rgba(148, 148, 148, 0.25)
$light-border-color = rgba(148, 148, 148, 0.25)

$basic-white-color = #fff
$basic-black-color = #000
// ========== ========== ========== ========== ==========

//  Backgrounds 
$body-bg = #fff
$header-bg = #fff
$footer-bg = #fff

$input-bg = #F3F4F6

$light-bg = #F9F9F9
$light-gray = #F3F4F6
