//=======================================================================================================
// @font-face
// Usage: webfont('Crimson-Text-Roman', 'crimson-text', 'crimsontext-roman-webfont', true, normal, normal)
//=======================================================================================================

webfont('Manrope-Regular', 'Manrope', 'Manrope-Regular',  normal, normal)
webfont('Manrope-Bold', 'Manrope', 'Manrope-Bold',  normal, normal)
webfont('Manrope-ExtraBold', 'Manrope', 'Manrope-ExtraBold',  normal, normal)
webfont('Manrope-SemiBold', 'Manrope', 'Manrope-SemiBold',  normal, normal)
webfont('Manrope-Medium', 'Manrope', 'Manrope-Medium',  normal, normal)



